.CategoriesList {

    .add-category-btn {
        float: right;
    }

    ul {
        list-style-type: none;
    }

    .category-header {
        margin-bottom: 20px;
        padding: 20px;
    }

    .category-item {
        padding: 20px;
        &:hover {
            cursor: pointer;
            opacity: .5;
        }
        & > * {
            vertical-align: middle;
        }
    }

}