.CategoriesList {

    .add-category-btn {
        float: right;
    }

    ul {
        list-style-type: none;
    }

    .category-header {
        margin-bottom: 20px;
        padding: 20px;
    }

    .category-item {
        padding: 20px;
        &:hover {
            cursor: pointer;
            opacity: .5;
        }
        & > * {
            vertical-align: middle;
        }
        .remove-btn {
            float: right;
        }
    }

    .add-category-div {
        background: none;
        height: 40px;
        text-align: center;

        input {
            width: 80%;
            height: 100%;
            padding: 0 20px;
            background: none;
            color: white;
        }
    }

}