@import 'variables';

.StockCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 80px;
    transition: .5s;
    background-color: $stock-card-color;
    border-radius: 10px;

    & > div {
        flex: 1;
        display: inline-block;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
    }

    .stock-price {
        .StockPriceChange {
            margin-left: 10px;
        }
    }
}